<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    {{dmn}}
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import aws_exports from "./exports";

//ドメインが初期化されるので再度設定
aws_exports.oauth.domain = "signin.tactism.jp";

export default {
  name: 'App',
  components: {
    HelloWorld
  },
  data() {
    return{
      dmn:aws_exports
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
